.intro{
    background-image: url("office.jpg");
    background-repeat: no-repeat;
    background-size: 100% 90vh;
    background-color: lightblue;
    display: flex;
    align-content: center;
    justify-content: center;
    .container{
        background-color: transparent;
        width: 70%;
        color: white;
        
        .text1{
            font-size: 25px;
            padding-top: 10vh;

        }
        .text2{
            font-size: 40px;
            padding-top: 2vh;
        }
        .text3{
            font-size: 20px;
            padding-top: 3vh;
        }
        #btn{
            margin-top: 3vh;
            cursor: pointer;
            padding: 7px 40px;
            font-size: 20px;
        }
    }
}