.exp{
    background-color: white;
    .up{
        margin-top: 10vh;
        height: 50vh;
        width: 100%;
        .left{
            width: 35%;
            height: inherit;
            float: left;
            margin-left: 18%;
            margin-right: 2%;
            h2{ 
                margin-top: 8%;
                letter-spacing: 1px;
                margin-left: 2%;
                margin-right: 2%;
                font-size: 25px;
            }
            p{
                margin-top: 3%;
                letter-spacing: 1px;
                margin-left: 2%;
                margin-right: 2%;
                font-size: 15px;
            }
            #btn{
                margin-top: 5%;
                margin-left: 2%;
                padding: 7px 30px;
                font-size: 20px;
                background-color: rgb(13,110,253);
                color: white;
                border: none;
                border-radius: 5px;
            }
        }
        .right{
            width: 45%;
            height: inherit;
            float: right;
            img{
                display: block;
                height: 45vh;
                width: auto;
            }
        }
        
    }
    .down{
        height: 15vh;
        width: 60%;
        margin-left: 17vw;
        
        div{
            height: 13.96vh;
            width: 24.5%;
            display: inline-block;
            img{
                height: 30%;
                display: block;
                margin: 0 auto;
                width: auto;
            }
            h3{
                font-weight: lighter;
                text-align: center;
                #span{
                    font-weight: 1000;
                }
            }
        }
    }

}